* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;

}
body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}
#icone {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
}

#check {
  display: none;
  background-color: #f00;
}

.barra {
  background-color: #333;
  height: 100%;
  width: 300px;
  position: absolute;
  left: -300px;
  transition: all 0.2s linear;
}

.barra .link {
  list-style: none;
  background-color: #494950;
}

nav {
  width: 100%;
  position: absolute;
  top: 60px;
}
nav a {
  text-decoration: none;
  padding-bottom: 10px;
}

.link {
  color: #f4f4f9;
  font-family: "Arial";
  font-size: 12pt;
  padding: 20px;
  border-bottom: 2px solid #222;
  transition: all 0.2s linear;
  opacity: 0;
  margin-top: 200px;
  align-items: center;
}
.link:hover {
  background-color: #050542;
}

#check:checked ~ .barra nav a .link {
  opacity: 1;
  margin-top: 0;
  transition-delay: 0.2s;
}
#check:checked ~ .barra {
  transform: translateX(300px);
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: rgb(71, 69, 71);
}
.main {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.menu {
  width: 15%;
  background-color: aqua;
  padding: 10px 20px 0px;
}
.header {
  background-size: cover;
  background-color: rgb(38, 48, 48);
  background-image: url("https://capsule-render.vercel.app/api?type=Waving&height=150&color=gradient&customColorList=7");
  min-height: 150px;
  align-items: center;
}
.header #nomeCli {
  padding-top: 45px;
}
.header H1 {
  border-top: 50px;
  margin: auto;
  font-family: courier, arial, helvetica;
  font-size: 50px;
  color: #3c2c61;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer {
  background-size: cover;
  background-color: rgb(38, 48, 48);
  background-image: url("https://capsule-render.vercel.app/api?type=Waving&height=150&color=gradient&customColorList=7");
  min-height: 150px;
  align-items: center;
}

#nomeCli {
  display: flex;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.txt1 ul,
h2 {
  padding: 12px;
}

.txt1 strong {
  padding: 12px;
}
.txt1 ul li {
  text-decoration: none;
  list-style: none;
}
.sobre {
  text-align: center;
  height: 350px;
  width: 800px;
  margin: auto;
  padding-top: 50px;
}
.sobre h3 {
  padding: 15px;
}

.sobre h4 {
  padding: 5px;
}
table{
 margin: 0px 40px 40px 0px;
  width: 100%;
  border-collapse: collapse;
  align-items: center;
  

}
table td tr {
 
  width: 10px; 
  
}
.tabelaHo{
 
  align-items: center;
}

table tr:nth-child(even) {
  background-color: rgb(161, 177, 177);

   
}
table tr :hover {
  background-color: #5c585890;
}

thead {
  background-color: rgb(161, 177, 177);

}
caption{
  background-color: rgb(245, 247, 247);
}
 
html{

  background-color: rgb(38, 48, 48);
}

.headerContato {
  background-size: cover;
  background-color: rgb(147, 163, 163);
  background-image: url("https://unichristus.edu.br/wp-content/uploads/2015/05/CONTATOS.png");
  min-height: 150px;
  align-items: center;
  color: #9292a3;
 
}

 
.headerContato #nomeCli {
  padding-top: 45px;
}
.headerContato H1 {
  border-top: 50px;
  margin: auto;
  font-family: courier, arial, helvetica;
  font-size: 50px;
  color: #c6c2d1;
}

.formulario{

margin: 20px;

}
.formulario label  {

  padding : 15px;
}
#nome{
  border-left: 10px;
  padding-right: 100px;
}
#Assunto{

  padding-right: 100px;
}
 
#email{
  padding-right: 100px;
  border-left: 10px;
}
#LbAssunto{
  padding : 8px;

}
#msg ,#lbMsg{

  padding : 0px;
}
#lbMsg{
 position:relative ;
   
}

#enviar{
 

   
}